#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

.todo-list-input{
  margin-right: var(--spacer);
  margin-left: var(--spacer);
}
.todo-list-form{
  display: flex;
  margin-bottom: calc( 2 * var(--spacer) );
  flex-direction: column;
  
}
.todo-list-form form{
  padding: var(--spacer);
}
.todo-list-elements{
  display: flex;
  align-items: center;
  gap: calc( 2* var(--spacer));
  padding: var(--spacer);

}

@media screen and (max-width: 768px){
  .todo-list-form{
    flex-direction: column;
    align-items: center;  
    gap:  var(--spacer) ;
  }
  .todo-list-form form{
    gap: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}