:root {
  font-weight: 400;
  font-size: 1rem;
  background-color: #536493;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  --text-color: #333;
  --primary-text-color: #fff;
  --secondary-text-color: #fff;
  --primary-color: #208061;

  --error-color:#C62E2E;

  --font-family: 'Roboto', sans-serif;

  --spacer: 1rem;
  
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
body {
  margin: 0;
  min-width: 320px;
  font-family: var(--font-family);
  color:var(--primary-text-color);
  
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: var(--spacer);
  font-size: 1em;
  font-weight: 500;
  font-family: var(--font-family);
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.button-primary {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.button-error{
  color: var(--primary-text-color);
  background-color: var(--error-color);
}

input{
  height: 42px;
}
ul{
  list-style: none;
  padding: 0px;
}
input[type="checkbox"] {
  height: 20px;
  width: 20px;
}